@font-face {
  font-family: digital;
  src: url(../public/DS-DIGI.TTF);
}

@font-face {
  font-family: font-secondary;
  src: url(../public/VarsityTeam-Bold.otf);
}
#audio{
  display: none
  }

body {
  font-family: digital;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(../public/img/fondo.png) no-repeat right top;
  /* background-color: #BDC3C7;  */
  background-color: #BBBBBB;
}

.input-pelea {
  outline: none;
  font-family: font-secondary;
  background-color:transparent;
  font-size: 5ch;
  height: 10vh;
  border: 0ch;
  width: 10vh;
}
.input-pelea:disabled{color: black;}

.input-apuesta {
  outline: none;
  font-family: font-secondary;
  background-color:transparent;
  font-size: 5ch;
  height: 10vh;
  border: 0ch;
  width: 30vh;
}

.input-cock {
  outline: none;
  font-family: font-secondary;
  background-color:transparent;
  color: #ffffff;
  font-size: 7ch;
  border: 0ch;
  width: 99%;
}

.input-cock:disabled{color: white;}


.custom{
  font-family: font-secondary;
  font-size: 5ch;
}

.page {
    width: 100%;
    height: 100%;
    /* background: #fdfdfd; */
    /* font-weight: 600; */
    letter-spacing: 0.03em;
    color: #000000;
  }

.grid-options {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 1.8fr 1.2fr 1.8fr 0.4fr;
  grid-template-rows: 0.8fr 1.8fr 1.2fr 1.6fr 0.6fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header full-screen"
    ". main-watch main-watch main-watch ."
    ". left-watch . right-watch ."
    ". number-fight . apuesta ."
    "cock-up cock-up cock-up cock-up cock-up"
    "cock-down cock-down cock-down cock-down cock-down"
    ". . . . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.main-watch {
  grid-area: main-watch;
}

.left-watch {
  grid-area: left-watch;
}

.right-watch {
  grid-area: right-watch;
}

.number-fight {
  grid-area: number-fight;
}

.apuesta {
  grid-area: apuesta;
}

.cock-up {
  
  grid-area: cock-up;
  background-color: #333E5B;
  justify-items: stretch;
  align-items: stretch;
  display: flex;
    flex-direction: row;
    align-items: center;
  width: 100%;
  height: 10vh;
  vertical-align: middle;
  text-align:center;
}

.cock-down {
  grid-area: cock-down;
  background-color: #F73A18;
  justify-items: stretch;
  align-items: stretch;
  display: flex;
    flex-direction: row;
    align-items: center;
  width: 100%;
  height: 10vh;
}

.Header {
  grid-area: Header;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 50px;
  /* background: #212121; */
  background: #000000;
  color: #fff;
  /* justify-content: center; */
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.center-icon{
  font-size: 20px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.full-screen{
  grid-area: full-screen;
}

.button-custom{
  background: transparent;
  color: #fff;
  border: none;
}

.button-custom:hover{
  background: #b6b6b6;
  cursor: pointer;
  border-radius: 20%;
}

.number-main {
  font-size: 33ch;
  color: black;
  line-height: 160px;
}

.number-left {
  font-size: 14ch;
  color: #333E5B;
}

.number-right {
  font-size: 14ch;
  color: #F73A18;
}

.btn-acep{
  cursor: pointer;
  background: #50CB71;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: white;
}

.btn-acep:hover{
  background: white;
  color: black;

}

.btn-full{
  cursor: pointer;
  background: black;
  font-family: font-secondary;
  color: white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  
}

.btn-full:hover{
  color: black;
  background: white;
}

.play-btn {
    cursor: pointer;
    text-decoration: none;
    font-size: 4vh;
    color: #ffffff;
    background-color: #50CB71;
    border: 2px solid #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:auto;
  }
  .play-btn:hover{
    color: #000000;
    background-color: #ffffff;
  }

.reset-btn {
  cursor: pointer;
  font-family: font-secondary;
  font-size: 4vh;
  width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
  background-color: #EAC046;
  color: white;
}
.reset-btn:hover {
  color: #000000;
  background-color: #ffffff;
}


.fullscreen-button {
    /* position: absolute; */
    margin-bottom: 14%;
   /*  padding-right: 100px;
    padding-top: 1000px; */
    transform: translateX(-50%);
    border: 1px solid #998656;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #333e5b;
    color: #998656;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
  }

  .fullscreen-button:hover {
    background: #ffffff;
    color: #000000;
  }

  .min-input{
  font-family: font-secondary;
  text-align: center;
  font-size: 5ch;
  height: 10vh;
  border: 0ch;
  width: 10vh;
  }



  /* MENU BAR ------------------------------ */

  /* Menu Bar */

/* dar efecto desvanecido */
#nav-container {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  
  #nav-container .bg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    /* height: calc(100% - 70px); */
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background: #000;
  }
  
  /* Opacidad para cuando salga el menu */
  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: 0.6;
  }
  
  #nav-container * {
    visibility: visible;
  }
  
  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 60px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    /* background: #998656; */
    background: #333e5b;
    transition: 0.3s;
  }
  
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
    pointer-events: none;
  }
  
  /* Animacion boton */
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  
  /* devuielta opacidad */
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  
  /* terminacion animacion boton, x complet */
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  
  /* Meni cuando se abre */
  #nav-content {
    margin-top: 80px;
    padding: 20px;
    padding-left: 50px;
    /* width: 100%; */
    /* max-width: 300px; */
    width: auto;
    height: 600px;
    position: absolute;
    top: 0;
    /* left: 20px; */
    /* height: calc(100% - 70px); */
    pointer-events: auto;
    border-radius: 1em/1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    /* background-color: #1a1a1a; */
    /* background-color: #998656; */
    background-color: #333e5b;
  }
  
  /* items menu */
  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-inline-start: 10px;
  }
  
  #nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color 0.1s;
  }
  
  /* click hover items animation */
  #nav-content li a:hover {
    color: #bf7497;
  }
  
  #nav-content li:not(.small) + .small {
    margin-top: auto;
  }
  
  .small {
    display: flex;
    align-self: center;
  }
  
  .small a {
    font-size: 12px;
    font-weight: 400;
    color: #888;
  }
  .small a + a {
    margin-left: 15px;
  }
  
  #nav-container:focus-within #nav-content {
    transform: none;
  }

.clock-custom{
  font-family: font-secondary;
  font-size: 3ch;
  color: white;
}

  /* Grid menu options */

.grid-menu {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr 1.6fr 1.6fr 0.4fr;
  grid-template-rows: 0.5fr 0.9fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". config-title config-title btn-submit ."
    ". watch-left watch-center watch-right ."
    ". control-sound control-sound control-sound .";
}

.watch-left { grid-area: watch-left; }

.watch-center { grid-area: watch-center; }

.watch-right { grid-area: watch-right; }

.control-sound { grid-area: control-sound; }

.config-title { grid-area: config-title; font-family: font-secondary; color: white;}

.btn-submit { grid-area: btn-submit; }

/* grid-buttons */
.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "btn-reset btn-play btn-pause";
  width: 98.6%;
  height: 100%;

}

#play-pause {
  display: none;
}
label {
  cursor: pointer;
}
#play-pause:checked + #play-pause-label::after {
  content: '❙❙';
}
#play-pause-label::after {
  content: '►';
}


.btn-reset { grid-area: btn-reset; }

.btn-play { grid-area: btn-play; }

.btn-pause { grid-area: btn-pause; }


.menu-clock{
  font-size: 9ch;
  color: white;
  background-color: transparent;
  border: 0;
}

/* 

html, body {
	 height: 100%;
	 width: 100%;
}
 body {
	 background: #2a2a2a;
	 color: #fafafa;
	 font-family: sans-serif;
	 font-weight: 300;
	 font-size: 6rem;
	 margin: 0;
	 box-sizing: border-box;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 #play-pause {
	 display: none;
}
 label {
	 cursor: pointer;
}
 #play-pause:checked + #play-pause-label::after {
	 content: '❙❙';
}
 #play-pause-label::after {
	 content: '►';
}
*/

/* Checkbox style */

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  width: 400px;
  /* position: relative; */
}
.inputGroup label {
  font-family: font-secondary;
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 8px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 38.5%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
/* icon checked */
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;

  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}